.containerss {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: auto;

}

#Form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#bacteria {
    flex: 0 0 auto;
    width: 150% !important;
    margin-right: 10px;

}



